@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: black;
}

body {
    background-color: white;
}
.home-page {
    padding: 5% 15%;
}
.navbar {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.navbar-nav .nav-item .nav-link:hover {
    color: orange !important;
}
 .collapse .navbar-nav .nav-item .active{
    color: green !important;
}